/* General CSS */
body{
  background-image: url('https://i.ibb.co/jTpxdFP/Background-Image-Main2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background: #0C192B; */
  color: #000;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out !important;
}


ul{
  list-style: none;
}

img{
  max-width: 100%;
}


/* Links */
.aLink{
  color: rgb(224, 104, 49);
  transition: all 0.5s ease-in-out;
}

.aLink:hover{
  color: #ffffff  !important;
}

.leftMainPage{
  background-image: url('https://i.pinimg.com/originals/80/ff/69/80ff69f319daa945a850b4efe621c19a.jpg');
    background: linear-gradient(
        to right,
        #d1691f57 0%,
        #d1691f57 5%,
        rgba(255, 0, 0, 0) 5%,
        rgba(255, 0, 0, 0) 10%,
        #d1691fb0 10%,
        #d1691fb0 15%,
        #0c192bc7 15%,
        #0c192bc7 100%
    )
}

/* Nav Bar */
.navbar{
  background-color: #0c192bf5;
}

.blueText{
    color: #0c192bf5 !important;
}

.border-bottom{
  border-width: 2px;
  border-color: #d1691f !important;
}

.border-top{
  border-width: 2px;
  border-color: #d1691f !important;
}

.border-start{
  border-color: #d1691f !important;
}

.blueBg{
  height: 50vh;
  background: linear-gradient(
    to bottom,
    #0c192b00 0%,
    #0c192b00 80%,
    #0c192b 80%,
    #0c192b 98%,
    #0c192b00 98%,
    #0c192b00 100%
  );
}

.blueBg2{
  background: #0c192bdc;
}

.navbar ul li a{
  display: block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  letter-spacing: 1px;
  color: chocolate;
}

.navbar-collapse{
  text-align: center;
}

.carousel-indicators2 button{
  height: 9vh !important;
  width: 100vw !important;
  margin-top: 0 5px !important;
  transition: all 0.5s ease-in-out;
}

.carousel-indicators2 button.active{
  height: 10vh !important;
  border-color: chocolate !important;
  border: 2px solid transparent;
  transition: all 0.5s ease-in-out;
}


/* Banner Content */
.banner-image {
  max-height: 90vh;
  min-height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.border-1{
  border-color: #d1691f !important;
}

.inputBg{
  background: rgba(0, 0, 0, 0);
  border-bottom: chocolate;
  
}
.inputBg:focus {
  box-shadow:none !important;
  background: rgba(0, 0, 0, 0);
}

button:focus{
  box-shadow:none !important;
  background: rgba(0, 0, 0, 0);
}

.btnBg{
  box-shadow:none !important;
  background: rgba(0, 0, 0, 0);
}

.btnTop{
  background: transparent;
  color: rgb(255, 255, 255);
  border: #d1691f;
}

.btnTop:hover{
  background: transparent;
  color: rgb(255, 255, 255);
  border: #d1691f;
}

.border{
  border-color: #d1691f !important;
}

.video{
  position: relative;
}

.video2{
  position: absolute;
}

.btnTop:focus{
  background: transparent;
  color: rgb(255, 255, 255);
}

.searchBtnSize{
  width: 2vh;
}

.c-item{
  height: 90vh;
  
  transition: all 0.3s ease-in-out;
}

.c-item2{
  transition: all 0.3s ease-in-out;
}

.c-img{
 height: 100%;
 width: 100vw;
 object-fit: cover;
}

.frontHeight{
  max-height: 85vh;
  min-height: 85vh;
}

.cardAbout{
  opacity: 0.25;
  transition: all 0.3s ease-in-out
}

.cardAbout:hover{
  opacity: 1.0 !important;
  transition: all 0.3s ease-in-out
} 

.shadow{
  opacity: 1.0 !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.774)!important;
  transition: all 0.3s ease-in-out
} 

.btn-bg{
background-color: chocolate;
}
.btn-bg:hover{
  background-color: rgb(255, 144, 65) !important;
  }

.banner-content{
  padding-top: 15rem;
  padding-left: 12rem;
  color: chocolate;
}

.banner-desc{
  font-size: 3em;
  color: white;
}

.hr2{
  height:3px;
  border-width:0;
  /* color:chocolate;
  background-color:chocolate */
  background: linear-gradient(
        120deg,
        rgba(255, 0, 0, 0) 0%,
        chocolate 15%,
        chocolate 85%,
        rgba(255, 0, 0, 0) 100%
  );
}
.aLink{
  text-decoration: none !important
} 
.activePage{

  color: white !important;
}



.orangeText{
 color: chocolate !important;
}

.orangeText2{
  color: chocolate !important;
  background: linear-gradient(
    to right,
    #d1691f00 0%,
    #d1691f00 73%,
    #0c192b 73%,
    #0c192b 100%
);
  height: 100vh;
  width: -250vw;
  position: sticky;
  margin-right: 50px;
  padding-bottom: 200px !important;
 }

 /* .orangeText2:hover{
  color: rgb(255, 144, 65) !important;
 } */



.orangeBg{
  background-color: chocolate !important;
}
.orangeBg:hover{
  background-color:rgb(230, 230, 230);
}

.socmedIcon:hover{
  color: chocolate;
  transition: all 0.3s ease-in-out;
}

.quickLinks:hover {
  color: chocolate;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.socmedIcon2:hover{
  color: rgb(255, 137, 52);
  transition: all 0.3s ease-in-out;
}

.mainBg{
  background: #0C192B;
}

.btn-trend:hover, .footer .btn:hover,
.trend-section a:hover{
  background-color: rgb(120, 133, 133);
}

.trend-cards{
  padding-top: 1rem;

}

.trend-cards a, .trend-section a,
.footer .btn{
  background-color: chocolate;
  border-style: none;
  color: white;
}

.trend-cards a:hover{
  background-color: darkslategray;
}

.trend-comment p{
  color: white;
  font-size: 1em;
  padding: 1.5rem 1rem 0 1rem;
}

.footerCRights{
  background-color: #0C192B;
}
/* Game Ranking */

.tableHeader{
  color: chocolate !important;
}

.game-rank h1{
  color: chocolate;
}

.border-left{
  border-color: #d1691f !important;
}

/* Footer Section */
.footer ul li a, .social-links ul li a{
  text-decoration: none;
}

.footer-content{
  background-color: #264B7E;
}

.footer-content h5{
  color: white;
  font-weight: 900;
}

.social-links{
  font-size: 3rem;
}

.searchField{
  padding-top: 100px !important;
}
/*contact page*/

.contactUS{
  max-width: 500%;
  margin: 10px auto;
  position: relative;
  box-shadow: 0 10px 30px 0px #264B7E;
  padding: 20px;
  }

  .contactUS .title{
  letter-spacing: 3px;
  font-size: 3em;
  background-color: chocolate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  .socmedIcon {
    cursor: pointer;
  }

@keyframes change{
  25%{
    background-image: url(images/image2.jpg);
  }
  50%{
    background-image: url(images/image3.jpg);
  }
  75%{
    background-image: url(images/image4.jpg);
  }
  100%{
    background-image: url(images/image5.jpg);
  }
}

/* Media Query */

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .banner-image{
    background-image: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

}

@media only screen and (max-width: 767px){
  .banner-image{
    background-image: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .banner-image h1{
    text-align: center;
    font-size: 1.2em;
    -webkit-text-stroke-width: 1px;
  }

  .banner-image p{
    text-align: center;
    font-size: 1.3em;
    -webkit-text-stroke-width: 0.4px;
  }
}

.c-btnBg{
  height: 100vh !important;
}

.cardImg:hover{
height: 100vh;
}

.cardOvrLay{
  padding-left: 0px;
  padding-bottom: 0px;
  height: 316px;
  padding-left: 0px
}

.preloader{
  background: #0C192B url('images/giphy.gif') no-repeat center center;
  background-size: 10%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100
}

.preloader2{
  background: #0C192B url('images/giphy.gif') no-repeat center center;
  background-size: 10%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100
}

@media screen and (max-width: 480px) {
  iframe {
    width: 320px;
    height: 180px;
  }

  #videoFrame{
    justify-content: center !important;
  }
}

@media screen and (max-width: 1000px) {

  #videoFrame{
    justify-content: center !important;
  }
}
