/* General CSS */
body{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  background: #0C192B;
  color: #000;
  overflow-x: hidden;

}

ul{
  list-style: none;
}

img{
  max-width: 100%;
}


/* Links */
a{
  color: rgb(224, 104, 49);
  transition: all 0.5s ease-in-out;
}

a:hover{
  color: #f7cda7  !important;
}

.leftMainPage{
  background-image: url('https://i.pinimg.com/originals/80/ff/69/80ff69f319daa945a850b4efe621c19a.jpg');
    background: linear-gradient(
        120deg,
        rgba(255, 0, 0, 0) 0%,
        rgba(255, 0, 0, 0) 40%,
        #d1691f57 40%,
        #d1691f57 45%,
        rgba(255, 0, 0, 0) 45%,
        rgba(255, 0, 0, 0) 47%,
        #d1691fb0 47%,
        #d1691fb0 55%,
        #0C192B 55%,
        #0C192B 100%
    )
}

/* Nav Bar */
.navbar{
  border-color: #d1691f !important;
  background-color: #0C192B;
}

.navbar ul li a{
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 900;
  letter-spacing: 1px;
  color: chocolate;
}

.navbar-collapse{
  text-align: center;
}


/* Banner Content */
.banner-image {
  background-image: url('images/P2-home-banner.jpg');
  background-size: cover;
  animation: change 20s infinite ease-in-out;
}

.btn-bg{
background-color: chocolate;
}
.btn-bg:hover{
  background-color: white;
  }

.banner-content{
  padding-top: 15rem;
  padding-left: 12rem;
  color: chocolate;
}

.banner-desc{
  font-size: 3em;
  color: white;
}

.about{
  text-align: justify;
  color: rgb(224, 104, 49);

}

.rightcontent{
  margin-top: 200px;
}


.aboutus{
  font-size: 50px;
  font-weight: bolder;
}

.main{
  background-image: url('https://i.pinimg.com/originals/27/1d/51/271d515589f7b51b33c37044a111b7e6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.secondcontent{
  text-align: justify;
  color: rgb(224, 104, 49);
}

.linespace{
  line-height: 1.5;
}

.missionvision{
  text-align: justify;
  color: rgb(224, 104, 49);
}


/* Trend Section */
.trend-section span{
  font-weight: 900;
  font-size: 1.5em;
  color: chocolate;
  padding-left: 2rem;
  padding-right: 1rem;
}

.activePage{
  color: white !important;
  border-bottom: white !important;
}

.btn-trend:hover, .footer .btn:hover,
.trend-section a:hover{
  background-color: rgb(120, 133, 133);
}

.trend-cards{
  padding-top: 1rem;

}

.trend-cards a, .trend-section a,
.footer .btn{
  background-color: chocolate;
  border-style: none;
  color: white;
}

.trend-cards a:hover{
  background-color: darkslategray;
}

.trend-comment p{
  color: white;
  font-size: 1em;
  padding: 1.5rem 1rem 0 1rem;
}


/* Game Ranking */

.game-rank h1{
  color: chocolate;
}

.gameRank2{
  background-color: #264B7E;
}




/* Footer Section */
.footer ul li a, .social-links ul li a{
  text-decoration: none;
}

.footer-content{
  background-color: #264B7E;
}

.footer-content h5{
  color: white;
  font-weight: 900;
}

.social-links{
  font-size: 3rem;
}

#game-output{
  margin-top: 6rem;
}



@keyframes change{
  25%{
    background-image: url(images/image2.jpg);
  }
  50%{
    background-image: url(images/image3.jpg);
  }
  75%{
    background-image: url(images/image4.jpg);
  }
  100%{
    background-image: url(images/image5.jpg);
  }
}




/* Media Query */

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .banner-image{
    background-image: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

}




@media only screen and (max-width: 767px){


  .banner-image{
    background-image: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .banner-image h1{
    text-align: center;
    font-size: 1.2em;
    -webkit-text-stroke-width: 1px;
  }

  .banner-image p{
    text-align: center;
    font-size: 1.3em;
    -webkit-text-stroke-width: 0.4px;
  }

}

